{% extends "mail/base.html.twig" %}

{% block domain %}
	<table align="center" cellpadding="0" cellspacing="0" class="android-container" width="100%">
		<tr>
			<td align="left" valign="top" width="100%" style="background: repeat-x url(http://s3.amazonaws.com/swu-filepicker/4E687TRe69Ld95IDWyEg_bg_top_02.jpg) #ffffff;">
				<center>
					<img src="http://s3.amazonaws.com/swu-filepicker/SBb2fQPrQ5ezxmqUTgCr_transparent.png" class="force-width">
					<table cellspacing="0" cellpadding="0" width="100%" bgcolor="#fffff" background="http://s3.amazonaws.com/swu-filepicker/4E687TRe69Ld95IDWyEg_bg_top_02.jpg" style="background-color: transparent;">
						<tr>
							<td width="100%" height="80" valign="top" style="text-align: center; vertical-align: middle;">
								<center>
									<table cellpadding="0" cellspacing="0" width="600" class="w320">
										<tr>
											<td class="pull-left mobile-header-padding-left" style="vertical-align: middle;">
												<a href=""><img src="{{ site.uri.public }}/assets/img/icon/brand.png" width="137" height="47"></a>
											</td>
											<td class="pull-right mobile-header-padding-right" style="color: #4d4d4d">
												<a href=""><img width="38" height="47" src="http://s3.amazonaws.com/swu-filepicker/LMPMj7JSRoCWypAvzaN3_social_09.gif" alt="facebook" /></a>
											</td>
										</tr>
									</table>
								</center>
							</td>
						</tr>
						<tr>
							<td align="center" valign="top" width="100%" style="background-color: #f7f7f7;" class="content-padding">
								<center>
									<table cellpadding="0" cellspacing="0" width="600" class="w320 wrapper">
										<tbody>
											<tr>
												<td class="main-content">													
													<center>
														<table cellpadding="0" cellspacing="0" width="100%">
															<tr>
																<td class="lock"></td>
															</tr>
															<tr>
																<td>
																	<h1 class="headline"><a style="font-size: 24px; text-decoration: none; color: #777777;">{{ user.account }}</a></h1>
																	<p class="text-light">{{ user.username }} 會員您好，</p>
																	<p class="text-content">
																		您現在所使用之電子郵件地址下帳戶將被停用，您將無法存取您的資料。您的資料仍會被保留至少60天。如果您記起此停用帳戶的密碼，請聯繫 <a href="" class="link">jingcoffeeshop@gmail.com</a> 以讓我們協助您復原帳戶。
																	</p>
																	<p class="callout" style="margin: 15px 0;">請至下方進行認證</p>														
																	<p style="margin: 20px 0;">
																		<a href="{{ site.uri.public }}#!/reset-password/{{ user.id }}/{{ secretKey }}" class="btn-verify btn-mobile">認證</a>
																	</p>
																	<!-- <p class="text-content">無法運作嗎？ 別擔心。您也可將以下連結複製並貼上至您的瀏覽器網址列中： <a class="link">https://mega.nz/#recover6gEwAT6Y7w9ixCrBGg0wHTQR</a></p> -->
																	<p class="lead" style="text-align: left;">獻上最誠摯的祝福，</p>
																	<p class="lead" style="text-align: left;">— {{ site.title }} 敬上</p>	
																</td>
															</tr>
														</table>
													</center>												
												</td>
											</tr>											
										</tbody>											
									</table>
								</center>												
							</td>
						</tr>
					</table>
				</center>
			</td>
		</tr>
		<tr>
			<td align="center" valign="top" width="100%" class="footer">
				<center>
					<table cellpadding="0" cellspacing="0" width="600" class="w320">
						<td style="padding: 25px 0 25px">
							<p><strong>{{ site.title }}</strong></p>
							<p>&copy; 2018 AG. All Rights Reserved.</p>
						</td>
					</table>
				</center>
			</td>
		</tr>
	</table>
{% endblock %}

